# Copier ce fichier en .env et renseigner les valeurs
MLFLOW_TRACKING_URI=https://atomik31-mlflow.hf.space
EXPERIMENT_NAME=fraud-detection
MODEL_NAME=fraud_detector
MODEL_ALIAS=challenger
NEON_CONN=postgresql://neondb_owner:PASSWORD@HOST/neondb?sslmode=require
